<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="${_csrf_token}" name="csrf_token"/>
    <title>页面未找到</title>
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <link href="//cdn.jsdelivr.net/npm/picnic@6.5.0/picnic.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>

<div style="margin: 0 auto; text-align: center; padding-top: 100px; color: #fff;">
    <h1>一个很悲伤的消息，你访问的页面不存在 :( </h1>
</div>

</body>
</html>