<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="${_csrf_token}" name="csrf_token"/>
    <title>服务器出了点差错</title>
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <link href="//cdn.jsdelivr.net/npm/picnic@6.5.0/picnic.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>

<div style="margin: 0 auto; text-align: center; padding-top: 100px; color: #fff;">
    <h1>一个很悲伤的消息，服务器貌似出了点问题 :( </h1>
    <a href="https://github.com/biezhi/profit/issues/new">点击</a> 反馈给作者！
</div>

</body>
</html>