<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="${_csrf_token}" name="csrf_token"/>
    <title>Profit 管理员登录</title>
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <link href="//cdn.staticfile.org/picnic/6.5.0/picnic.min.css" rel="stylesheet">
    <link href="//cdn.staticfile.org/picnic/6.5.0/plugins.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>

<main class="intro">
    <div id="app" v-cloak class="install-card">
        <div class="text-center" style="color: #f30c51; padding-bottom: 10px;">
            <h1>欢迎登录 biezhi 打赏系统</h1>
            <img src="/static/img/yaofan.jpg" width="200"/>
        </div>
        <fieldset class="flex">
            <label><input v-model="login.username" ref="username" type="text" placeholder="输入管理员账号"></label>
            <label><input v-model="login.password" ref="password" type="password" placeholder="输入管理员密码"></label>
        </fieldset>
        <div>
            <span class="button stack error icon-help-circled" v-if="error">{{error}}</span>
        </div>
        <div class="text-center">
            <button class="install-btn" @click="dologin">登录</button>
        </div>
    </div>
</main>
<div id="footer">
    <p>
        Copyright © 2018 Power by <a target="_blank" href="https://github.com/biezhi/profit">profit</a>.
        由 <a rel="nofollow" target="_blank" href="https://github.com/lets-blade">Blade</a> 驱动.
    </p>
</div>
<script src="//cdn.staticfile.org/vue/2.5.17/vue.min.js"></script>
<script src="//cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/login.js"></script>
</body>
</html>